@page
@model KippensGroup1.ShowReportModel
@{
    ViewData["Title"] = "ShowReport";

}

<html>
<head>
    <style>
        h1 {
            align-content:center;
        }
        #tbl {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 70%;
        }

            #tbl td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #tbl tr:nth-child(even) {
                background-color: white;
            }

            #tbl tr:hover {
                background-color: whitesmoke;
            }

            #tbl th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: rgb(0, 0, 128);
                color: white;
            }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />
    <h1 style="text-align:center">Donations Report</h1>
    <table align="center" id="tbl" border="1">
        <tr>
            <th width="100px">Name</th>
            <th width="100px">Description</th>
            <th width="100px">UserID</th>
            <th width="100px">DonationID</th>
            <th width="100px">Date Donated</th>
            <th width="100px">RoleID</th>
            <th width="100px">Quantity</th>
        </tr>

        @{
            for (int i = 0; i < Model.Donations.Count; i++)
            {
                <tr>
                    <td>@Model.Donations.ElementAt(i).Name</td>

                    <td>@Model.Donations.ElementAt(i).description</td>

                    <td>@Model.Donations.ElementAt(i).userID</td>

                    <td>@Model.Donations.ElementAt(i).donationID</td>

                    <td>@Model.Donations.ElementAt(i).time</td>

                    <td>@Model.Donations.ElementAt(i).roleID</td>

                    <td>@Model.Donations.ElementAt(i).QUANTITY</td>
                </tr>
            }
        }
    </table>
    <br />
    <br />
    <br />
    <h1 style="text-align:center">Transactions Report</h1>
    <table id="tbl" align="center" border="1">
        <tr>
            <th width="100px">TransactionID</th>
            <th width="100px">Date</th>
            <th width="100px">RoleID</th>
            <th width="100px">Name</th>
            <th width="100px">Description</th>
            <th width="100px">UserID</th>
            <th width="100px">Quantity</th>
        </tr>

        @{
            for (int i = 0; i < Model.Transactions.Count; i++)
            {
                <tr>
                    <td>@Model.Transactions.ElementAt(i).transactionID</td>

                    <td>@Model.Transactions.ElementAt(i).time</td>

                    <td>@Model.Transactions.ElementAt(i).roleID</td>

                    <td>@Model.Transactions.ElementAt(i).name</td>

                    <td>@Model.Transactions.ElementAt(i).description</td>

                    <td>@Model.Transactions.ElementAt(i).userID</td>

                    <td>@Model.Transactions.ElementAt(i).QUANTITY</td>
                </tr>
            }
        }
    </table>
    <br />
    <br />
    <br />
    <h1 style="text-align:center">Volunteer Report</h1>
    <table id="tbl" align="center" border="1">
        <tr>
            <th width="100px">VolunteerID</th>
            <th width="100px">userID</th>
            <th width="100px">Name</th>
            <th width="100px">Role</th>
        </tr>

        @{
            for (int i = 0; i < Model.Volunteers.Count; i++)
            {
                <tr>
                    <td>@Model.Volunteers.ElementAt(i).volunteerID</td>

                    <td>@Model.Volunteers.ElementAt(i).userID</td>

                    <td>@Model.Volunteers.ElementAt(i).name</td>

                    <td>@Model.Volunteers.ElementAt(i).role</td>
                </tr>
            }
        }
    </table>
    <br />
    <br />
    <br />
</body>
</html>



